[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
fitparse = "*"
seaborn = "*"
matplotlib = "*"
pint = "*"
"15a9268" = {path = ".\\..\\colored_logger", editable = true}

[dev-packages]
pyinstaller = "*"

[requires]
python_version = "3.6"
