[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
fitparse = "*"
seaborn = "*"
matplotlib = "*"
pint = "*"
colored-logger = {git = "https://github.com/eskemojoe007/colored_logger"}

[dev-packages]
cx-freeze = "*"

[requires]
python_version = "3.6"
